body {
    margin: 0;
    background: #f4f4f4;
    font-family: "Outfit", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checker-card {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
}
